#contacto{
    /*Escondemos el formulario hasta que el usuario apreta el botón "contacto"*/
    display: none;
}
form{
    background-color: rgba(250, 235, 215, 0.781);
    margin: auto;
    width: 90%;
    max-width: 300px;
    padding: 3em;
    border-radius: 20px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 50%);
    text-align: center;
    font: var(--font-p);

    /*Posicionando el formulario :3*/
    position: fixed;
    bottom: 0;
    right: 15px;
}

.FormContainer{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.FormGroup{
    position: relative;
}

.FormGroup input{
    width: 100%;
    background: none;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    border-bottom: 3px solid rgb(194, 190, 190);
    outline: none;
    font-family: inherit;
}
.FormGroup input:not(:placeholder-shown) + label,
.FormGroup input:focus + label{
    transform: translateY(-12px) scale(.7);
    transform-origin: left top;
}

.FormGroup label{
    color: gray;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s;
}

.FormContainer button{
    background-color: rgb(150, 75, 182);
    font-size: medium;
    font-weight: 600;
    color: antiquewhite;
    border: none;
    border-radius: 10px;
    padding: .6em .3em; 
    font-family: var(--font-p);   
}